RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Skip rewriting if accessing index.php directly
RewriteRule ^index.php$ - [L]

# If the request is not a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything else to index.php
RewriteRule ^(.*)$ index.php [L]

# Optional: fallback for true 404s
ErrorDocument 404 /index.php